{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="
    my_background_pic
    profile-info-container
    ">
        <div class="profile-column">

            <h1>This is doctor profile: {{ object.specialisation }}</h1>
            <p>Name: {{ object.first_name }} {{ object.last_name }}</p>
            <p>Location: {{ object.address }}</p>
            <p>Work time: {{ object.work_time_from }} - {{ object.work_time_to }}</p>
            <p>Address: {{ object.address }}</p>
            <p>Education: {{ object.education }}</p>
            <p>Qualification: {{ object.qualification }}</p>
            <p>Biography: {{ object.biography }}</p>
            <p>Average rating: {{ rating|floatformat:2 }}</p>

            {% if object.profile_picture %}
                <img src="{{ object.profile_picture.url }}" width="80" height="80" alt="">
            {% else %}
                <img src="{% static 'images/static_images/auto_doc_pic.png' %}" width="60" height="60" alt="">
            {% endif %}

            {% if is_owner %}
                <a href="{% url 'doctor edit' object.user_id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete user' object.user_id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'change password' object.user_id %}" class="btn btn-info">Change password</a>
            {% else %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'doctor review' object.user_id %}">Comment</a>
                {% endif %}
            {% endif %}

        </div>
        <div class="profile-column">
            <h1>Comments</h1>
            {% if not page_obj %}
                <p>There is no comments for this doctor.</p>
            {% else %}
                {% for el in page_obj %}
                    <p>Comment: {{ el.comment }}</p>
                    <p>Rating: {{ el.rating }}</p>
                    <p>User: {{ el.patient }}</p>
                {% endfor %}


                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}

                    </span>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}