{% extends 'base.html' %}

{% block content %}
    <div class="my_background_pic">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
            </tr>
            </thead>
            <tbody>
            {% for el in object_list %}
                <tr>
                    <td><a href="{% url 'doctor details' el.pk %}">{{ el.first_name }}</a></td>
                    <td>{{ el.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>


    </div>
{% endblock %}